db.sqlite3
.idea
/**/*.pyc
*.pyc
.DS_Store
/**/.DS_Store
/**/migrations/*
photos/*
Tiny_Faces_in_Tensorflow/detected_faces
Tiny_Faces_in_Tensorflow/networks/*
Tiny_Faces_in_Tensorflow/detected_faces/*
Tiny_Faces_in_Tensorflow/images/*
Tiny_Faces_in_Tensorflow/*.mat*
Tiny_Faces_in_Tensorflow/*.pickle*
Tiny_Faces_in_Tensorflow/*.pickle
Tiny_Faces_in_Tensorflow/*.mat
Tiny_Faces_in_Tensorflow/.ipynb_checkpoints/*
/**/*.swp
images_dir/*kairos_cred.txt
mlab_cred.txt
/**/.jpg
kairos_cred.txt
